.root {
    
}

.footer-navigation {
    display: block;
    align-self: center;
    padding: 10px;
}

.logo-footer {
    align-self: center;
}

.secondary-nav {
    text-decoration: none;
    margin: 0 5px;
    color: var(--bright-green);
    font-size: 13px;
}